.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.feedCards {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.feedCards > div {
  width: 100%;
}
