.rinaPage__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rinaPage__content {
  display: flex;
  gap: 10px;
}

.floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
