.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: 1.2rem 0 1.2rem 4rem;
  border: 0.1rem solid var(--color-gray-400);
  border-radius: var(--border-radius-md);
  background: url("./images/PersonIcon.svg") no-repeat;
  background-size: 2rem 2rem;
  background-position: 1rem center;
  color: var(--color-black);
  font-size: var(--font-size-md);
  outline: none;
}

.input::placeholder {
  color: var(--color-gray-400);
  font-size: var(--font-size-md);
  line-height: 2.2rem;
}

.input:focus {
  border: 0.1rem solid var(--color-primary-400);
}
