.textarea {
  width: 100%;
  padding: var(--spacing-16);
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--color-gray-200);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

.textarea:focus {
  border: 0.1rem solid var(--color-primary-400);
  outline: none;
}

.textarea::placeholder {
  color: var(--color-gray-400);
}
