.button {
  box-sizing: border-box;
  padding: 12px 24px;
  font-size: var(--font-size-lg);
  border-radius: var(--board-radius-xl);
  gap: 8px;
  color: var(--color-white);
  background-color: var(--color-primary-400);
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @media (max-width: 787px) {
    padding: 8px 12px;
    font-size: var(--font-size-sm);
  }
}
.floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
/* location */
/* size */
.md {
  padding: 12px 24px;
  font-size: var(--font-size-xl);
}
.sm {
  padding: 12px 24px;
  font-size: var(--font-size-sm);
}
/* color */
.primary {
  color: var(--color-white);
  background-color: var(--color-primary-400);
  border: none;
}
.secondary {
  color: var(--color-white);
  background-color: var(--color-primary-400);
}

/* button state */
.button:active {
  background-color: var(--color-primary-500);
}
