.button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-md);
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-400);
}
/* responsive state */
.responsive {
  @media (max-width: 787px) {
    padding: 0.8rem 1.2rem;
    height: 3.4rem;
    font-size: var(--font-size-sm);
  }
}
/* size */
.md {
  padding: 1.2rem 2.4rem;
  height: 4.6rem;
  font-size: var(--font-size-md);
}
.sm {
  padding: 0.8rem 2.4rem;
  height: 3.4rem;
  font-size: var(--font-size-sm);
}

/* color */
.primary {
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-400);
}
.secondary {
  color: var(--color-white);
  background-color: var(--color-primary-400);
}

/* primary button state */
.primary:hover {
  box-shadow: inset 0 0 0 1px var(--color-primary-400);
}
.primary:active {
  background-color: var(--color-primary-200);
}

/* secondary button state */
.secondary:hover {
  box-shadow: inset 0 0 0 1px var(--color-primary-500);
}
.secondary:active {
  background-color: var(--color-primary-500);
}

/* disabled state */
.primary:disabled {
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-300);
  color: var(--color-primary-300);
  cursor: not-allowed;
}
.disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}
.secondary:disabled {
  background-color: var(--color-primary-300);
  border: none;
  cursor: not-allowed;
}
