.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-md);
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-400);
  gap: 4px;
  @media (max-width: 787px) {
    padding: 8px 12px;
    font-size: var(--font-size-sm);
  }
}
/* color */
.primary {
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-400);
}
.secondary {
  color: var(--color-white);
  background-color: var(--color-primary-400);
}

/* primary button state */
.button:hover {
  border: 1px solid var(--color-primary-400);
  outline: 1px solid var(--color-primary-400);
}
.button:active {
  background-color: var(--color-primary-200);
}

/* secondary button state */
.secondary:hover {
  border: 1px solid var(--color-primary-500);
  outline: 1px solid var(--color-primary-500);
}
.secondary:active {
  background-color: var(--color-primary-500);
}

/* disabled state */
.button:disabled {
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-300);
  color: var(--color-primary-300);
}
.secondary:disabled {
  background-color: var(--color-primary-300);
  border: none;
}
