.button {
  padding: 12px 24px;
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-md);
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-400);
}

.button:hover {
  border: 2px solid var(--color-primary-400);
}

.button:active {
  background-color: var(--color-primary-200);
}
