.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/src/assets/img/common/bg.jpg");
}

.header {
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 767px) {
    order: 1;
    height: auto;
  }
}

.link {
  margin: 4.5rem 13rem 0 0;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 4.5rem 5rem 0 0;
  }

  @media (max-width: 767px) {
    margin: 2.4rem auto;
  }
}

/* 임시 */
.btn {
  width: 10rem;
  background-color: aqua;
}

.btn:hover {
  cursor: pointer;
}
