.header {
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 767px) {
    order: 1;
    height: auto;
  }
}

.link {
  margin-top: 4.5rem;

  @media (max-width: 767px) {
    margin: 2.4rem auto;
  }
}
