.form {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  padding: var(--spacing-34);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-white);

  @media (max-width: 767px) {
    padding: var(--spacing-24);
  }
}
