.logo {
  width: 45.6rem;
  height: 18rem;
  margin: 0 auto;

  @media (max-width: 787px) {
    width: 24.8rem;
    height: 9.8rem;
    margin: 8rem auto 0;
  }
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}
