.container {
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5rem;
  z-index: 1;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: var(--spacing-32);
  }
}
