.card {
  max-width: 22rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 2rem;
  border: 0.1rem solid var(--color-gray-400);
  border-radius: var(--border-radius-lg);
}

.card:hover {
  cursor: pointer;
  border: 0.1rem solid var(--color-primary-400);
  animation: vibration 0.1s 2;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.avatar {
  width: 6rem;

  @media (max-width: 767px) {
    width: 4.8rem;
  }
}

.name {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  color: var(--color-black);

  @media (max-width: 767px) {
    font-size: var(--font-size-lg);
  }
}

.meta {
  display: flex;
  justify-content: space-between;
}

.label {
  display: flex;
  gap: var(--spacing-4);
}

.question-icon {
  width: 1.8rem;
  height: auto;

  @media (max-width: 767px) {
    width: 1.6rem;
  }
}

.label p,
.count {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  color: var(--color-gray-400);

  @media (max-width: 767px) {
    font-size: var(--font-size-sm);
  }
}
