.controls {
  display: flex;
  gap: var(--spacing-4);
}

.button {
  width: 100%;
}

.button:disabled {
  background: var(--color-primary-300);
}

.reset {
  width: 100%;
  border: none;
}

.reset:hover {
  border: none;
  box-shadow: none;
}

@media (width < 500px) {
  .controls {
    flex-direction: column-reverse;
  }
}
