.list > li + li {
  margin-top: var(--spacing-20);
}

.empty {
  display: flex;
  justify-content: center;
  padding: 6rem 2rem;
}

@media (width < 768px) {
  .list > li + li {
    margin-top: var(--spacing-16);
  }
}
