.card {
  padding: 3.2rem;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-100);
  background: var(--color-white);
}

@media (width < 768px) {
  .card {
    padding: 2.4rem;
  }
}
