@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* gray */
  --color-primary-500: #341909;
  --color-primary-400: #542f1a;
  --color-primary-300: #c7bbb5;
  --color-primary-200: #e4d5c9;
  --color-primary-100: #f5f1ee;
  --color-gray-500: #515151;
  --color-gray-400: #818181;
  --color-gray-300: #cfcfcf;
  --color-gray-200: #f9f9f9;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #1877f2;
  --color-yellow: #fee500;
  --color-red: #b93333;

  /* shadow */
  --shadow-300: 0rem 1.6rem 2rem 0 rgba(48, 48, 48, 0.62);
  --shadow-200: 0rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  --shadow-100: 0rem 0.4rem 0.4rem 0 rgba(140, 140, 140, 0.25);

  /* Border Radius */
  --board-radius-xl: 9999px; /* pill 모양*/
  --border-radius-lg: 1.6rem;
  --border-radius-md: 0.8rem;
  --border-radius-sm: 0.4rem;

  /* Typography */
  --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-size-h1: 4rem; /* 40px */
  --font-size-h2: 3.2rem; /* 32px */
  --font-size-h3: 2.4rem; /* 24px */
  --font-size-xl: 2rem; /* 20px */
  --font-size-lg: 1.8rem; /* 18px */
  --font-size-md: 1.6rem; /* 16px */
  --font-size-sm: 1.4rem; /* 14px */

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400; /* normal */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing System */
  --spacing-34: 3.4rem; /* 34px */
  --spacing-32: 3.2rem; /* 32px */
  --spacing-24: 2.4rem; /* 24px */
  --spacing-20: 2rem; /* 20px */
  --spacing-16: 1.6rem; /* 16px */
  --spacing-12: 1.2rem; /* 12px */
  --spacing-10: 1rem; /* 10px */
  --spacing-8: 0.8rem; /* 8px */
  --spacing-6: 0.6rem; /* 6px */
  --spacing-4: 0.4rem; /* 4px */
  --spacing-2: 0.2rem; /* 2px */
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
}
