.userCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 4.6rem;
}

.userCardItem {
  width: calc(25% - 15px); /* (20 x 3)/ 4 */
}

@media (width < 868px) {
  .userCardItem {
    width: calc(33.333% - 13.333px); /* (20 x 2)/ 3 */
  }
}

@media (width < 662px) {
  .userCardList {
    gap: 16px;
  }

  .userCardItem {
    width: calc(50% - 8px); /* (16x2)/2 */
  }
}
