.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 3rem;
}

.title {
  font-size: var(--font-size-h1);
}

.sortBar {
  width: 8.2rem;
}

@media (width < 662px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    font-size: var(--font-size-h3);
  }
}
