.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 세로 정렬 */
  z-index: 10;
  padding: 10rem 0;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-gray-300);
  border-top-color: var(--color-gray-500);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1.6rem; /* 메시지와의 간격 */
}

.message {
  font-size: var(--font-size-md);
  color: var(--color-gray-500);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
