.detail__container {
  background-color: var(--color-gray-200);
}

.detail__header {
  padding: 0 3.2rem;
  background-image: linear-gradient(
    to bottom,
    var(--color-white) 54.5%,
    var(--color-gray-200) 45.5%
  );
}

.detail__list {
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 3.2rem 13.6rem;
}
