.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 4rem;
  padding-top: 5rem;
  width: 100%;
  max-width: 1200px;
  background-image: url("/src/assets/img/page-detail/header-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.logo img {
  width: 17rem;
}

.avatar {
  width: 13.6rem;
}

.title {
  width: 100%;
  max-width: 60rem;
  margin-top: 1.5rem;
}

.title h1 {
  font-size: var(--font-size-h2);
  text-align: center;
  line-height: 1.25;
}

.meta {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-primary-300);
}

.sns {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 3rem;
}

.sns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: var(--board-radius-xl);
}

.sns__link {
  background-color: var(--color-primary-400);
}

.sns__kakao {
  background-color: var(--color-yellow);
}

.sns__facebook {
  background-color: var(--color-blue);
}
